# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN=5424991242:AAGwomxQz1p46bRi_2m687kghJlt5RjK9xr0

# Db
POSTGRES_DB=post  # Название базы данных
POSTGRES_USER=user  # Пользователь Postgres
POSTGRES_PORT=5564
POSTGRES_PASSWORD=psw  # Пароль пользователя